<header class="container">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" routerLink="/timeline-animation" routerLinkActive="active">Timeline
                        Animation</a>
                    <a class="nav-link" routerLink="/css3d-animation" routerLinkActive="active">CSS 3D Animation</a>
                    <a class="nav-link" routerLink="/card-animation" routerLinkActive="active">Card Animation</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<main class="main_container">
    <router-outlet></router-outlet>
</main>

<footer class="footer">
    <p class="copyright">
        Copyright © 2023 | <span>UNIR - Master Diseño y Desarrollo de Interfaz de Usuario Web</span>
    </p>
</footer>